form {
  display: flex;
  /* justify-content: center; */
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}

form > input {
  margin: 10px;
  height: 40px;
  width: 300px;
  border: 2px solid #2f7019;
  border-radius: 10px;
}
form > label {
  font-style: 900;
  font-size: larger;
  font-weight: 600;
}

form > button {
  background-color: #2f7019;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  font-size: larger;
  padding: 10px 30px;
  margin-left: auto;
}

.Todo-List {
  display: flex;
  flex-direction: column;
}

.Card-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Todo-Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  min-height: 200px;
  padding: 20px;
  border: 3px solid #2f7019;
  border-radius: 10px;
  margin: 10px;
  white-space: pre-wrap;
}

.Todo-Card > div {
  margin-bottom: 30px;
}

.Todo-Card > .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}

.Detail-Page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.Detail-Container {
  width: 500px;
  height: 600px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100px 1fr;
}

.Detail-Container > button {
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  justify-items: center;
}

.Detail-Container > div:nth-child(1) {
  font-weight: 600;
  margin-top: 15px;
}

#root > div > div > div > div.Detials > div:nth-child(1) {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

#root > div > div > div > div.Detials > div:nth-child(2) {
  font-size: large;
}
